<table style="width: 100%; height: 5%;">
  <tr>
    <td style="width: 50%;"> <img src="/assets/images/title.jpg"> </td>

    <h2 style="text-align: center; margin-top: 200px; background-color: rgb(209, 120, 120);"> Make Your Stay Easy Here!!!</h2>

     </tr>
     </table> 
 
     <table style=" width: 100%;height: 10%;">
      <tr>

        <td style="width: 15%; text-align: center;">  <a routerLink="/addBooking">Add Bookings</a>  </td>
        <td style="width: 15%; text-align: center;">  <a routerLink="/bookings"> Bookings</a>  </td>
        <td style="width: 15%; text-align: center;">  <a routerLink="/bookingsId"> My Bookings </a>  </td>
      </tr>
    </table>
    <hr/>
    
    <router-outlet></router-outlet>   
       

        
      